@tailwind base;
@tailwind components;
@tailwind utilities;

footer::after {
  content: '';
  display: block;
  height: 50vh;
  margin-bottom: -50vh;
  background-color: #d1d5db;
}

.primaryCTA {
  border-image-source: linear-gradient(to top right, #000000, #0037ff);
  border-image-slice: 1;
}
